google-generativeai
SpeechRecognition
so-vits-svc-fork
PyAudio
torch
transformers
gTTS
opencv-python
fastapi
uvicorn
python-multipart
numpy
starlette
pyngrok
pyinstaller
pywebview
protobuf
typing_extensions
pytorch-lightning
matplotlib
sympy
onnx
onnxruntime
tensorboard
setuptools
tqdm
scipy
torchvision
numba
packaging
colorama
filelock
urllib3
fsspec
torchaudio
soundfile
Pillow
scikit-learn
huggingface-hub
requests
Pygments
regex
tokenizers
safetensors
librosa
PyYAML
msgpack
torchcrepe
PySimpleGUI
sounddevice
Pebble
joblib
tqdm_joblib
lightning
attrs
rich
click